
<div fxLayout="row wrap">
  <div fxFlex="100">
    <mat-card>
      <mat-card-content>
        <div fxLayout="row wrap" class="align-items-center">
          <div fxFlex.gt-md="35" fxFlex.gt-lg="25" fxFlex="100">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Category">
            </mat-form-field>
          </div>
          <div fxFlex.gt-md="40" class="text-right"></div>
          <div fxFlex.gt-md="25" class="text-right">
<!--            <button mat-raised-button color="primary">Add Ticket</button>-->
            <mat-select placeholder="" value="global">
              <mat-option  value="global">Global</mat-option>
              <mat-option  value="test1">Test 1</mat-option>
              <mat-option  value="test2">Test 2</mat-option>
            </mat-select>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div fxLayout="row wrap">
  <div fxFlex="100">
    <mat-card>
      <mat-card-content>
        <div class="table-responsive">
          <table mat-table [dataSource]="dataSource" class="table  ticket-list no-wrap">



            <ng-container matColumnDef="category">
              <th mat-header-cell *matHeaderCellDef> Category </th>
              <td mat-cell *matCellDef="let element"> {{element.categoryName}} </td>
            </ng-container>

            <ng-container matColumnDef="target">
              <th mat-header-cell *matHeaderCellDef> Target </th>
              <td mat-cell *matCellDef="let element">
                {{element.target}}
              </td>
            </ng-container>

            <ng-container matColumnDef="actual">
              <th mat-header-cell *matHeaderCellDef> Actual </th>
              <td mat-cell *matCellDef="let element">
                {{element.actual}}
              </td>
            </ng-container>

            <ng-container matColumnDef="jan">
              <th mat-header-cell *matHeaderCellDef> Jan </th>
              <td mat-cell *matCellDef="let element">
                <input matInput  placeholder="" value="{{element.jan}}">
              </td>
            </ng-container>

            <ng-container matColumnDef="feb">
              <th mat-header-cell *matHeaderCellDef> Feb </th>
              <td mat-cell *matCellDef="let element">
                <input matInput  placeholder="" value="{{element.feb}}">
              </td>
            </ng-container>

            <ng-container matColumnDef="mar">
              <th mat-header-cell *matHeaderCellDef> Mar </th>
              <td mat-cell *matCellDef="let element">
                <input matInput  placeholder="" value="{{element.mar}}">
              </td>
            </ng-container>

            <ng-container matColumnDef="apr">
              <th mat-header-cell *matHeaderCellDef> Apr </th>
              <td mat-cell *matCellDef="let element">
                <input matInput  placeholder="" value="{{element.apr}}">
              </td>
            </ng-container>

            <ng-container matColumnDef="may">
              <th mat-header-cell *matHeaderCellDef> May </th>
              <td mat-cell *matCellDef="let element">
                <input matInput  placeholder="" value="{{element.may}}">
              </td>
            </ng-container>

            <ng-container matColumnDef="jun">
              <th mat-header-cell *matHeaderCellDef> Jun </th>
              <td mat-cell *matCellDef="let element">
                <input matInput  placeholder="" value="{{element.jun}}">
              </td>
            </ng-container>

            <ng-container matColumnDef="jul">
              <th mat-header-cell *matHeaderCellDef> Jul </th>
              <td mat-cell *matCellDef="let element">
                <input matInput  placeholder="" value="{{element.jul}}">
              </td>
            </ng-container>

            <ng-container matColumnDef="aug">
              <th mat-header-cell *matHeaderCellDef> Aug </th>
              <td mat-cell *matCellDef="let element">
                <input matInput  placeholder="" value="{{element.aug}}">
              </td>
            </ng-container>

            <ng-container matColumnDef="sep">
              <th mat-header-cell *matHeaderCellDef> Sep </th>
              <td mat-cell *matCellDef="let element">
                <input matInput  placeholder="" value="{{element.sep}}">
              </td>
            </ng-container>

            <ng-container matColumnDef="oct">
              <th mat-header-cell *matHeaderCellDef> Oct </th>
              <td mat-cell *matCellDef="let element">
                <input matInput  placeholder="" value="{{element.oct}}">
              </td>
            </ng-container>

            <ng-container matColumnDef="nov">
              <th mat-header-cell *matHeaderCellDef> Nov </th>
              <td mat-cell *matCellDef="let element">
                <input matInput  placeholder="" value="{{element.nov}}">
              </td>
            </ng-container>

            <ng-container matColumnDef="dec">
              <th mat-header-cell *matHeaderCellDef> Dec </th>
              <td mat-cell *matCellDef="let element">
                <input matInput  placeholder="" value="{{element.dec}}">
              </td>
            </ng-container>

<!--            <ng-container matColumnDef="action">-->
<!--              <th mat-header-cell *matHeaderCellDef> Action </th>-->
<!--              <td mat-cell *matCellDef="let element" class="action-link">-->
<!--                <a (click)="openDialog('Update',element)" class="m-r-10 cursor-pointer"><i class="fa fa-pencil"></i></a>-->
<!--                <a (click)="openDialog('Delete',element)" class="m-r-10 cursor-pointer">-->
<!--                  <i class="fa fa-trash text-danger"></i>-->
<!--                </a>-->
<!--              </td>-->
<!--            </ng-container>-->

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
