<div fxLayout="row wrap" class="align-items-center">
  <div fxFlex.gt-md="75" fxFlex.gt-lg="25" fxFlex="100">
    <div class="taskboard-task-title">
      {{title}}
    </div>
  </div>
  <div fxFlex.gt-md="25" class="text-right">
    <mat-icon class="icon-margin icon-size">chat_bubble_outline</mat-icon>&nbsp;
    <mat-icon class="icon-margin icon-size">check</mat-icon>
  </div>
</div>

<small>
  <hr>
</small>


<div fxLayout="row" fxLayoutWrap="wrap" class="m-t-10">
  <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100" class="m-t-15 m-l-10">
    <mat-icon class="icon-margin " style="font-size: 45px;color: #99abb4">{{icon}}</mat-icon>
  </div>
  <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
    <h4 class="m-0 font-light">1.0342</h4>
    <small>MT/MS</small><br>
    <small>(Actual)</small>
  </div>
  <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
    <h4 class="m-0 font-light">0.987</h4>
    <small>MT/MS</small><br>
    <small>(Target)</small>
  </div>
</div>

<div fxLayout="row wrap" class="align-items-center">
  <div fxFlex.gt-sm="100%" fxFlex.gt-xs="100%" fxFlex="100">
    <hr>
    <small>+20% Than Previous</small><br>
  </div>
</div>
