//.piechart {
//  height: 300px;
//  width: 280px;
//  margin: 0 auto;
//}

@import '../../../assets/styles/variable';
/*******************
Taskboard scss
******************/
.taskboard {
  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;
  height: calc(120vh - 0px);
  .taskboard-wrapper {
    width: 100%;
    padding-right: 8px;
    padding-left: 8px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    height: 100%;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
  .taskboard-list {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    white-space: normal;

    border-radius: 0;
  }
  .taskboard-header {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
    padding: 8px 8px 0;
  }
  .taskboard-cards {
    overflow-x: hidden;
    overflow-y: auto;
  }
  .taskboard-task {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 6px;

    &:last-child {
      margin-bottom: 0;
    }
    &:hover {
      cursor: grab;
    }
  }
  .taskboard-task:after {
    content: '';
    position: absolute;

    top: 0;
    border-left: 15px solid transparent;
    border-top: 15px solid transparent;
    right: 0px;
  }
  .taskboard-task.task-status-success:after {
    border-top-color: $success;
  }
  .taskboard-task.task-status-info:after {
    border-top-color: $info;
  }
  .taskboard-task.task-status-warning:after {
    border-top-color: $warning;
  }
  .taskboard-task.task-status-danger:after {
    border-top-color: $danger;
  }
  .task-decription {
    color: rgba(0, 0, 0, 0.5);
  }
  .todos {
    .taskboard-task {
      background: $light-info;
    }
  }
  .inprogress {
    .taskboard-task {
      background: $light-warning;
    }
  }
  .completed {
    .taskboard-task {
      background: $light-success;
    }
  }
  .onhold {
    .taskboard-task {
      background: $light-danger;
    }
  }
  .taskboard-cards {
    padding: 8px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .taskboard-task-title {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
  }
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .cdk-drag-placeholder {
    opacity: 0;
  }

  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}

.taskboard-task-title {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
}

.solid-border{
  border-style: solid;
  border-color: white;
  border-width: 2px;
}

.icon-margin{
  margin-top: -5px;
}

.icon-size{
  font-size: 15px;
  font-weight: bold;
}
