.float-left-box {
  float: left; padding: 15px 0 0 45px;
}

/***************** PARAMS SECTION ******************/
/* horizontal arrows */
.line-horizontal {
  height: 1px;    /* line width */
  width: 100%; /* line length */
  //margin-left: 20px;
  margin-top: -8px;
}
/* vertical arrows */
.line-vertical {
  width: 1px; /* line-width */
  height: 30px; /* line length */
  margin-left: 28px;
  margin-top: 3px;
  float: left;
}

/*********************** CSS *************************/
/* common arrow styles */
.line-vertical, .line-horizontal {
  position: relative;
  background: rgb(30,136,229);
}
.arrow-up:after,
.arrow-down:before,
.arrow-left:after,
.arrow-right:before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border: 5px solid transparent;
}

/* vertical arrows */
.arrow-up:after,
.arrow-down:before {
  left: -4px;
}
.arrow-up:after {
  top: -15px;
  border-bottom: 15px solid rgb(30,136,229);
}
.arrow-down:before {
  bottom: -15px;
  border-top: 15px solid rgb(30,136,229);
}

/* horizontal arrows */
.arrow-left:after,
.arrow-right:before {
  top: -4px;
}
.arrow-left:after {
  left: -15px;
  border-right: 15px solid rgb(30,136,229);
}
.arrow-right:before {
  right: -15px;
  border-left: 15px solid rgb(30,136,229);
}

.mainTitle{
  font-size: 13px;
  color: rgb(30,136,229);
}
