<div fxLayout="row wrap">
  <div fxFlex="100">
    <mat-card>
      <mat-card-content>

        <div fxLayout="row wrap" class="align-items-center">
          <div fxFlex.gt-md="80" fxFlex.gt-lg="80" fxFlex="80">
            <div fxLayout="row wrap" class="align-items-center" style="margin-left: 50px">
              <div fxFlex.gt-md="16.6" fxFlex.gt-lg="16.6" fxFlex="16.6">
                <p class="mainTitle">Organization Profile</p>
                <button mat-fab  mat-card-icon class="shadow-none" style="background-color: rgb(207,79,30);">
                  <mat-icon>accessibility</mat-icon>
                </button>
              </div>
              <div fxFlex.gt-md="16.6" fxFlex.gt-lg="16.6" fxFlex="16.6">
                <p class="mainTitle">Strategy</p>
                <button mat-fab  mat-card-icon class="shadow-none" style="background-color: rebeccapurple">
                  <mat-icon>build</mat-icon>
                </button>
              </div>
              <div fxFlex.gt-md="16.6" fxFlex.gt-lg="16.6" fxFlex="16.6">
                <p class="mainTitle">Ethics & Integrity</p>
                <button mat-fab mat-card-icon class="shadow-none" style="background-color: rebeccapurple">
                  <mat-icon>lock</mat-icon>
                </button>
              </div>
              <div fxFlex.gt-md="16.6" fxFlex.gt-lg="16.6" fxFlex="16.6">
                <p class="mainTitle">Governance</p>
                <button mat-fab mat-card-icon class="shadow-none" style="background-color: rebeccapurple">
                  <mat-icon>videogame_asset</mat-icon>
                </button>
              </div>
              <div fxFlex.gt-md="16.6" fxFlex.gt-lg="16.6" fxFlex="16.6">
                <p class="mainTitle">Stakeholder Engagement</p>
                <button mat-fab mat-card-icon class="shadow-none" style="background-color: rgb(84,163,135)">
                  <mat-icon>groups</mat-icon>
                </button>
              </div>
              <div fxFlex.gt-md="16.6" fxFlex.gt-lg="16.6" fxFlex="16.6">
                <p class="mainTitle">Reporting Practice</p>
                <button mat-fab mat-card-icon class="shadow-none" style="background-color: rgb(55,144,152)">
                  <mat-icon>insert_drive_file</mat-icon>
                </button>
              </div>
            </div>
          </div>
          <div fxFlex.gt-md="20" fxFlex.gt-lg="20" fxFlex="20"></div>
        </div>

        <div fxLayout="row wrap" class="align-items-center">
          <div fxFlex.gt-md="80" fxFlex.gt-lg="80" fxFlex="80">
            <div fxLayout="row wrap" class="align-items-center" style="margin-left: 50px">
              <div fxFlex.gt-md="16.6" fxFlex.gt-lg="16.6" fxFlex="16.6">
                <div class="line-vertical arrow-down"></div>
              </div>
              <div fxFlex.gt-md="16.6" fxFlex.gt-lg="16.6" fxFlex="16.6">
                <div class="line-vertical arrow-down"></div>
              </div>
              <div fxFlex.gt-md="16.6" fxFlex.gt-lg="16.6" fxFlex="16.6">
                <div class="line-vertical arrow-down"></div>
              </div>
              <div fxFlex.gt-md="16.6" fxFlex.gt-lg="16.6" fxFlex="16.6">
                <div class="line-vertical arrow-down"></div>
              </div>
              <div fxFlex.gt-md="16.6" fxFlex.gt-lg="16.6" fxFlex="16.6">
                <div class="line-vertical arrow-down"></div>
              </div>
              <div fxFlex.gt-md="16.6" fxFlex.gt-lg="16.6" fxFlex="16.6">
                <div class="line-vertical arrow-down"></div>
              </div>
            </div>
          </div>
          <div fxFlex.gt-md="20" fxFlex.gt-lg="20" fxFlex="20"></div>
        </div>

        <div fxLayout="row wrap" class="align-items-center">
          <div class="float-left-box" fxFlex.gt-md="80" fxFlex.gt-lg="80" fxFlex="80">
              <div class="line-horizontal arrow-right"></div>
          </div>
          <div fxFlex.gt-md="20" fxFlex.gt-lg="20" fxFlex="20" class="text-right d-flex justify-content-center">
            <p class="mainTitle">General Disclosure</p>
          </div>
        </div>



<!--///////////////////////////////////////////////////////////////////////////////////////////////-->

        <div fxLayout="row wrap" class="align-items-center">
          <div fxFlex.gt-md="80" fxFlex.gt-lg="80" fxFlex="80">
            <div fxLayout="row wrap" class="align-items-center" style="margin-left: 50px">
              <div fxFlex.gt-md="33.3" fxFlex.gt-lg="33.3" fxFlex="33.3">
                <p class="mainTitle">Material Topics & Boundary</p>
                <button mat-fab mat-card-icon class="shadow-none" style="background-color: rgb(55,144,152)">
                  <mat-icon>photo_camera</mat-icon>
                </button>
              </div>
              <div fxFlex.gt-md="33.3" fxFlex.gt-lg="33.3" fxFlex="33.3">
                <p class="mainTitle">Management Approach & Components</p>
                <button mat-fab mat-card-icon class="shadow-none" style="background-color: rgb(207,79,30)">
                  <mat-icon>settings</mat-icon>
                </button>
              </div>
              <div fxFlex.gt-md="33.3" fxFlex.gt-lg="33.3" fxFlex="33.3">
                <p class="mainTitle">Evaluation</p>
                <button mat-fab mat-card-icon class="shadow-none" style="background-color: rgb(55,144,152)">
                  <mat-icon>bar_chart</mat-icon>
                </button>
              </div>
            </div>
          </div>
          <div fxFlex.gt-md="20" fxFlex.gt-lg="20" fxFlex="20"></div>
        </div>

        <div fxLayout="row wrap" class="align-items-center">
          <div fxFlex.gt-md="80" fxFlex.gt-lg="80" fxFlex="80">
            <div fxLayout="row wrap" class="align-items-center" style="margin-left: 50px">
              <div fxFlex.gt-md="33.3" fxFlex.gt-lg="33.3" fxFlex="33.3">
                <div class="line-vertical arrow-down"></div>
              </div>
              <div fxFlex.gt-md="33.3" fxFlex.gt-lg="33.3" fxFlex="33.3">
                <div class="line-vertical arrow-down"></div>
              </div>
              <div fxFlex.gt-md="33.3" fxFlex.gt-lg="33.3" fxFlex="33.3">
                <div class="line-vertical arrow-down"></div>
              </div>
            </div>
          </div>
          <div fxFlex.gt-md="20" fxFlex.gt-lg="20" fxFlex="20"></div>
        </div>

        <div fxLayout="row wrap" class="align-items-center">
          <div class="float-left-box" fxFlex.gt-md="80" fxFlex.gt-lg="80" fxFlex="80">
            <div class="line-horizontal arrow-right"></div>
          </div>
          <div fxFlex.gt-md="20" fxFlex.gt-lg="20" fxFlex="20" class="text-right d-flex justify-content-center">
            <p class="mainTitle">Management Approach</p>
          </div>
        </div>




<!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->


        <div fxLayout="row wrap" class="align-items-center">
          <div fxFlex.gt-md="80" fxFlex.gt-lg="80" fxFlex="80">
            <div fxLayout="row wrap" class="align-items-center" style="margin-left: 50px">
              <div fxFlex.gt-md="33.3" fxFlex.gt-lg="33.3" fxFlex="33.3">
                <p class="mainTitle">Make a Claim</p>
                <button mat-fab mat-card-icon class="shadow-none" style="background-color: rgb(84,163,135)">
                  <mat-icon>phone</mat-icon>
                </button>
              </div>
              <div fxFlex.gt-md="33.3" fxFlex.gt-lg="33.3" fxFlex="33.3">
                <p class="mainTitle">GRI Standards for Reporting</p>
                <button mat-fab mat-card-icon class="shadow-none" style="background-color: rgb(207,79,30)">
                  <mat-icon>touch_app</mat-icon>
                </button></div>
              <div fxFlex.gt-md="33.3" fxFlex.gt-lg="33.3" fxFlex="33.3">
                <p class="mainTitle">Principles</p>
                <button mat-fab mat-card-icon class="shadow-none" style="background-color: rebeccapurple">
                  <mat-icon>device_hub</mat-icon>
                </button>
              </div>
            </div>
          </div>
          <div fxFlex.gt-md="20" fxFlex.gt-lg="20" fxFlex="20"></div>
        </div>

        <div fxLayout="row wrap" class="align-items-center">
          <div fxFlex.gt-md="80" fxFlex.gt-lg="80" fxFlex="80">
            <div fxLayout="row wrap" class="align-items-center" style="margin-left: 50px">
              <div fxFlex.gt-md="33.3" fxFlex.gt-lg="33.3" fxFlex="33.3">
                <div class="line-vertical arrow-down"></div>
              </div>
              <div fxFlex.gt-md="33.3" fxFlex.gt-lg="33.3" fxFlex="33.3">
                <div class="line-vertical arrow-down"></div>
              </div>
              <div fxFlex.gt-md="33.3" fxFlex.gt-lg="33.3" fxFlex="33.3">
                <div class="line-vertical arrow-down"></div>
              </div>
            </div>
          </div>
          <div fxFlex.gt-md="20" fxFlex.gt-lg="20" fxFlex="20"></div>
        </div>

        <div fxLayout="row wrap" class="align-items-center">
          <div class="float-left-box" fxFlex.gt-md="80" fxFlex.gt-lg="80" fxFlex="80">
            <div class="line-horizontal arrow-right"></div>
          </div>
          <div fxFlex.gt-md="20" fxFlex.gt-lg="20" fxFlex="20" class="text-right d-flex justify-content-center">
            <p class="mainTitle">Foundation</p>
          </div>
        </div>


      </mat-card-content>
    </mat-card>
  </div>
</div>
