<div fxLayout="row wrap">

  <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <div class="taskboard page-height">
          <div class="taskboard-wrapper">
            <div class="taskboard-list todos">
              <div class="taskboard-header text-uppercase">
                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                  <mat-card class="bg-info">
                    <mat-card-content>
                      <div class="d-flex no-block">
                        <div class="m-r-10 no-shrink">
                          <button mat-fab mat-card-icon color="accent"
                                  class="shadow-none bg-inverse bg-info solid-border">
                            <mat-icon class="icon-margin">monetization_on</mat-icon>
                          </button>
                        </div>
                        <div>
                          <h3 class="text-white m-0">Economic</h3>
                          <h6 class="text-white m-0">Standards</h6>
                        </div>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>
              </div>
              <div class="taskboard-cards">
                <div class="taskboard-task" *ngFor="let task of economics">

                  <app-dashboard-card [title] = "task.title" [icon]= "task.icon"></app-dashboard-card>

                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <div class="taskboard page-height">
          <div class="taskboard-wrapper">
            <div class="taskboard-list inprogress">
              <div class="taskboard-header text-uppercase">
                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                  <mat-card class="bg-warning">
                    <mat-card-content>
                      <div class="d-flex no-block">
                        <div class="m-r-10 no-shrink">
                          <button mat-fab mat-card-icon color="primary" class="shadow-none bg-warning solid-border">
                            <mat-icon class="icon-margin">ac_unit</mat-icon>
                          </button>
                        </div>
                        <div>
                          <h3 class="text-white m-0">Environmental</h3>
                          <h6 class="text-white m-0">Standards</h6>
                        </div>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>
              </div>
              <div class="taskboard-cards">
                <div class="taskboard-task" *ngFor="let task of environmental">

                  <app-dashboard-card [title] = "task.title" [icon]= "task.icon"></app-dashboard-card>

                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>


  <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <div class="taskboard page-height">
          <div class="taskboard-wrapper">
            <div class="taskboard-list onhold">
              <div class="taskboard-header text-uppercase">
                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                  <mat-card class="bg-danger">
                    <mat-card-content>
                      <div class="d-flex no-block">
                        <div class="m-r-10 no-shrink">
                          <button mat-fab mat-card-icon color="warn" class="shadow-none bg-danger solid-border">
                            <mat-icon class="icon-margin">accessibility</mat-icon>
                          </button>
                        </div>
                        <div>
                          <h3 class="text-white m-0">Social</h3>
                          <h6 class="text-white m-0">Standards</h6>
                        </div>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>
              </div>
              <div class="taskboard-cards">
                <div class="taskboard-task" *ngFor="let task of social">

                  <app-dashboard-card [title] = "task.title" [icon]= "task.icon"></app-dashboard-card>

                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>


<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->

<div fxLayout="row wrap">

  <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <div class="taskboard page-height">
          <div class="taskboard-wrapper">
            <div class="taskboard-list todos">
              <div class="taskboard-header text-uppercase">
                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                  <mat-card>
                    <mat-card-content>
                      <div class="d-flex no-block">
                        <div class="m-r-10 no-shrink">
                          <button mat-fab mat-card-icon color="accent" class="shadow-none bg-inverse">
                            <mat-icon>monetization_on</mat-icon>
                          </button>
                        </div>
                        <div>
                          <h3 class="m-0">Economic</h3>
                          <h6 class="text-muted m-0">Standards</h6>
                        </div>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>
              </div>
              <div class="taskboard-cards">
                <div class="taskboard-task" *ngFor="let task of economics">

                  <app-dashboard-card [title] = "task.title" [icon]= "task.icon"></app-dashboard-card>

                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <div class="taskboard page-height">
          <div class="taskboard-wrapper">
            <div class="taskboard-list inprogress">
              <div class="taskboard-header text-uppercase">
                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                  <mat-card>
                    <mat-card-content>
                      <div class="d-flex no-block">
                        <div class="m-r-10 no-shrink">
                          <button mat-fab color="warn" mat-card-icon class="shadow-none  bg-warning">
                            <mat-icon>ac_unit</mat-icon>
                          </button>
                        </div>
                        <div>
                          <h3 class="m-0">Environmental</h3>
                          <h6 class="text-muted m-0">Standards</h6>
                        </div>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>
              </div>
              <div class="taskboard-cards">
                <div class="taskboard-task" *ngFor="let task of environmental">

                  <app-dashboard-card [title] = "task.title" [icon]= "task.icon"></app-dashboard-card>

                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>


  <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <div class="taskboard page-height">
          <div class="taskboard-wrapper">
            <div class="taskboard-list onhold">
              <div class="taskboard-header text-uppercase">
                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                  <mat-card>
                    <mat-card-content>
                      <div class="d-flex no-block">
                        <div class="m-r-10 no-shrink">
                          <button mat-fab color="warn" mat-card-icon class="shadow-none">
                            <mat-icon>accessibility</mat-icon>
                          </button>
                        </div>
                        <div>
                          <h3 class="m-0">Social</h3>
                          <h6 class="text-muted m-0">Standards</h6>
                        </div>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>
              </div>
              <div class="taskboard-cards">
                <div class="taskboard-task" *ngFor="let task of social">

                  <app-dashboard-card [title] = "task.title" [icon]= "task.icon"></app-dashboard-card>

                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

